 <div class="home" style="text-align: center">
 <form action="#" >
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin-top: 10%" >
      <input class="mdl-textfield__input" type="text" id="sample3" style="border-bottom: 1px solid rgba(255,255,255,0.7)">
      <label class="mdl-textfield__label" for="sample3" style="color: rgba(255,255,255,0.7)">Search</label>
    </div>
  </form>
<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect order" style="color:#fefefa;height: 50px;margin-top: 10%" ng-click="$ctrl.order=true">
  Order
</a>
     <mapbox order="$ctrl.order"></mapbox>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect schedule" ui-sref="schedule"  ng-click="$ctrl.getSchedules()" style="color:#fefefa;height: 50px;margin-top: 10%">
  Schedule
</button><br>
   <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect sharing" ui-sref="sharing"  style="color:#fefefa;height: 50px;margin-top: 10%">
     Sharing
   </button>
<br><br><br><br><br><br><br><br>
   <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect schedule" ui-sref="login" ng-click="$ctrl.logout()" style="color:#fefefa;height: 50px;margin-top: 10%">
     Logout
   </button>
</div>

