
<style>
  .demo-card-wide.mdl-card {
    width: 512px;
  }
  .demo-card-wide > .mdl-card__title {
    color: black;
    background: url('app/assets/free.png') center / cover;
    width: 412px;
    height: 200px;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
</style>
<br>
<div class="demo-card-wide  mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title"><br><br>

  </div>
  <div class="mdl-card__supporting-text">
    <h2 style="margin-bottom: -15px;" class="mdl-card__title-text"><strong>You don't have free rides yet</strong></h2>

  </div>

  </div>

</div>
